[build]
builder = "NIXPACKS"

[build.nixpacksConfig]
packageManager = "npm"

[deploy]
startCommand = "npm run start"
healthcheckPath = "/"
healthcheckTimeout = 30
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
